{% load static %}

<section class="bg-dark text-light p-5 text-center text-sm-start">

    <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h3> Join our development team</h3>
                    <p class="lead">We are looking for a talented developers to join our team</p>
                    <btn class="btn btn-outline-light btn-lg">Apply Now</btn>
                </div>
            </div>
    </div>
</section>

