{% extends 'events/base.html' %}

{% block content %}
{% include 'events/navbar.html' %}
<!-- Hero -->
<div class="container">
        <h1>Add Event To Database</h1>
        <br/><br/>

        {% if submitted %}
            <h2>Event Added Successfully</h2>
        {% else %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Add Event</button>
            </form>
        {% endif %}

        <br/><br/>
</div>
{% endblock %}
