{% load static %}

<div class="container mt-5"> 
    <div class="row"> 
      <div class="col-sm-4">
        <h3>Real-Time Insights</h3>
        <p>Remote Monitoring and Reporting for Efficient Management</p>
      </div>
      <div class="col-sm-4">
        <h3>From Remotely</h3>
        <p>How Remote Monitoring and Reporting Improves Productivity</p>
      </div>
      <div class="col-sm-4"> 
        <h3>The Power of Connectivity</h3>
        <p>Streamlining Production with Remote Monitoring and Reporting</p>
      </div>
    </div>
  </div>

