{% extends 'events/base.html' %}

{% block content %}
    {% include 'events/navbar.html' %}
    <!-- Hero -->
    <div
      class="p-5 text-center bg-image rounded-3"
      style="
        background-image: url('https://mdbootstrap.com/img/new/slides/041.jpg');
        height: 400px;
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.5)">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Complete Control - Events241120</h1>
            <h4 class="mb-3">
              Monitor and control from anywhere, anytime, on any device.
            </h4>
            <h2>
              <strong>Revolutionize Your Operations</strong>
            </h2>
            <a class="btn btn-outline-light btn-lg" href="#!" role="button">Test Drive</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero -->
    {% include 'events/boxthree.html' %}
    {% include 'events/newsletter.html' %}
{% endblock %}