{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Autorisen</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- Home link -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <!-- Add Venue link -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'add-venue' %}">Add Venue</a>
      </li>
      <!-- Venues link -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list-venues' %}">Venues</a>
      </li>
      <!-- Add Events link -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'add-event' %}">Add Events</a>
      </li>
      
      <!-- Events link -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list-events' %}">Events</a>
      </li>
      {% if user.is_authenticated %}
      <!-- Logout link -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <!-- Register link -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register_user' %}">Register</a>
      </li>
      <!-- Login link -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" method=POST action="{% url 'search-venues' %}">
      {% csrf_token %}
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search Venues"
        aria-label="Search"
        name="searched"
      />
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
