{% extends 'events/base.html' %}

{% block content %}
    {% include 'events/navbar.html' %}
    <div class="container">
        <center>
            {% if searched %}
                <h1>You searched for "{{ searched }}"</h1>
                <br/>
                {% for venue in venues %}
                   <a href="{% url 'show-venue' venue.id %}"> {{ venue }} </a><br/>
                {% endfor %}
            {% else %}
                <h1>You forgot to search for a venue</h1>
            {% endif %}
        </center>
    </div>
{% endblock %}
