{% extends 'events/base.html' %}

{% block content %}
{% include 'events/navbar.html' %}

<div class="container">
    <center>
        <h1>Venues</h1>
        <br/>
        <table class="table table-striped table-hover table-bordered">

            {% for venue in venue_list %}
            <tr>
                <td><a href="{% url 'show-venue' venue.id %}">
                    {{ venue }}</a>
                </td>
                <td align="right">
                    <a href="{% url 'update-venue' venue.id %}">
                        <button class="btn btn-secondary">Update</button>
                    </a>
                    </a>
                    <a href="{% url 'delete-venue' venue.id %}">
                        <button class="btn btn-outline-danger">Delete</button>
                </td>
            </tr>
                        
            {% endfor %}
        </table>    

    </center>
</div>
{% endblock %}
